* {
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    padding: 5px;
}

h1,
h2,
h3,
h4 {
    text-align: center;
}

input {
    padding: 5px;
    font-weight: bold;
    text-align: center;
    border-radius: 5px 10px;
    border-color: black;
}

button {
    font-weight: bolder;
    padding: 5px;

    border-radius: 5px;
}

.tablaMultiplicar {
    background-color: #a1a1a1;
    padding: 10px;
    text-align: justify;
    border-radius: 20px 5px;
    font-weight: bold;
}

.tabla_inputs {
    text-align: center;
    padding: 5px;

}

.tabla_btnmultiplicar {
    background-color: greenyellow;

}

.tabla_btnborrar {
    background-color: orangered;
}



#showResults {

    background-color: #888888;
    padding: 10px;
    border: 2px solid black;
    border-radius: 5px 20px;
   


}

#showResults>p {
    font-weight: bold;
    text-align: center;
}