* {
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
   
    background-color: snow;
}

h1,
h2,
h3,
h4 {
    text-align: center;
}
header{

    background-color: coral;
    width: 100%;    
    border-radius: 5px 10px;
    border-color: black;
    border-style: solid;
}


input {
    padding: 5px;
    font-weight: bold;
    text-align: center;
    border-radius: 5px 10px;
    border-color: black;
}

button {
    font-weight: bolder;
    padding: 5px;

    border-radius: 5px;
}

summary{
    border-style: solid;
    border-width: 2px;
    cursor: pointer;
    width: fit-content;
    margin: auto;
    padding: 5px;
    list-style-type: none;
    border-radius: 5px;
    background-color: #FF7F50;
}

.tablaMultiplicar, .calcIndemnizacion, .encriptador{
    background-color: #FFA07A;
    padding: 10px;
    text-align: center;
    border-radius: 20px 5px;
    font-weight: bold;
    margin: 5px;
    border: 2px solid black;
    }


.tabla_inputs {
    text-align: center;
    padding: 5px;

}

.tabla_btnmultiplicar {
    background-color: greenyellow;

}

.tabla_btnborrar {
    background-color: orangered;
}



#showResults, #showRubro {

    background-color: #FF7F50;
    padding: 10px;
    border: 2px solid black;
    border-radius: 5px 20px;
   


}

#showResults>p {
    font-weight: bold;
    text-align: center;
}

